body{
  background-image: url(https://t3.ftcdn.net/jpg/03/97/65/26/360_F_397652647_NE7e38gGikXTaq6A5zuYnFYX8dXfXMnk.jpg);
  background-color: #cccccc;
  background-size: 1495px;
}
#name{
  color: white;
  position: relative;
  left: 44%;
  top: -200px;
}
#herz{
  position: relative;
  width: 550px;
  left: 450px;
  top: 100px;
}
